/* globals: */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    color: ghostwhite;
    background: #292c33;
}

table {
    width: 90%;
    margin: auto;
}

table tr {
    margin-bottom: 50px;
}

table tr td {
    width: 5%;
    height: 60px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 6px #517b58 solid;
    /*background: #ebebeb;*/
    background: whitesmoke;
    text-align: center;
}

/* texts: */

i {
    color: rgba(0, 0, 0, 0.18);
}

p {
    font-weight: bolder;
    margin-top: 30px;
    text-transform: uppercase;
    color: black;
}

/* sections: */

header {
    margin: 5%;
}

/* effects: */

td:hover {
    transition: 0.37s ease-in-out;
    transform: scale(1.3);
    box-shadow: rgba(0, 0, 0, 1) 0 0 0 -20px;
    background: rgba(81, 123, 88, 0.14);
}

td:not(hover) {
    transition: 0.37s ease-in-out;
    box-shadow: rgba(0, 0, 0, 1) 0 0 0 -20px;
}

td:hover i {
    /*color: #517b58;*/
    color: white;
}

td:hover p {
    color: white;
}
